@{
    ViewData["Title"] = "Home Page";
}
@Html.Partial("_Advert_Partial_View")

<section class="container-fluid ">
    <div class="row h-15 mt-3">
        <div class="col-md-"></div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 pacifico">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active  card">
                                <img class="d-block w-100 " src="./images/bj3.jpg" alt="First slide">
                                
                            </div>
                            <div class="carousel-item  card">
                                <img class="d-block w-100" src="./images/bj4.jpg" alt="Second slide ">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        <div class="col-md-2"></div>
    </div>
</section>

