@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h5 class=" text-center" >Latest Books</h5>
<section class="container-fluid ">
    <div class="row h-15">
        <div class="col-md-4"></div>
        <div class="col-md-4">
        <div class="row">
            <div class="col-md-12 pacifico">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active  card">
                            <h1 class="text-center">Stateless</h1>
                         </div>
                        <div class="carousel-item  card">
                            <h1 class="text-center">The Black Boy</h1>
                        </div>
                        <div class="carousel-item  card">
                            <h1 class="text-center">The Stone Child</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
        <div class="col-md-4"></div>
    </div>
</section>
